@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
// app global css in SCSS form
.bg-main {
    background-color: black    
}

.w100vw {
    width: 100vw;
}

.w100 {
    width: 100%;
}

.low-opacity {
    opacity: 0.6;
}

html {
    overflow-x: hidden;
}

.font-title {
    font-family: 'Pacifico', cursive;
}

.font-satisfy{
    font-family: 'Satisfy', cursive;
}