@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Pacifico&family=Satisfy&display=swap');
// app global css in SCSS form
.bg-main {
    background-color: #fff    
}

.text-h3{
    font-family: 'Montserrat Alternates', sans-serif;
}

.w100vw {
    width: 100vw;
}

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.low-opacity {
    opacity: 0.6;
}

html {
    overflow-x: hidden;
}

.font-title {
    font-family: 'Pacifico', cursive;
}

.font-satisfy{
    font-family: 'Satisfy', cursive;
}

a{
  text-decoration: none;

}